/*
style.css
---------
OC Project 3
Par Julien Cibat
*/

/* HEADER */
header
{
	display: flex;
	flex-direction: row;
	float: center;
	background-color: #FFFFFF;
	margin: auto;
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0px;	
	left: 0px;	
	border-bottom: 1px solid #000000;
	box-shadow: 0px 1px 6px #000000;
}

#logo
{
	margin-left: 150px;
	margin-top: 10px; 
}

#menu
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	font-size: 20px;
	font-family: Roboto, Montserrat, Arial, sans-serif;
	font-style: bold;
	font-weight: bold;
	color: #000000;
	margin-left: 60%;
	padding: 25px 0px;
}

nav
{
	display: flex;
	flex-direction: column;
	align-content: space-between;
	color: #000000;
	text-align: center;
}

.element1, .element2, .element3
{
	color: #FFFFFF;
	font-style: normal;
	font-weight: bold;	
	position: right;
	text-align: center;
	justify-content: center;
	margin: 20px 10px;
	padding: 10px 10px;
	background-color: #000000;
	width: 180px;
	border-radius: 5px;
}

.element4
{
	color: #ff7e4a;
	font-style: normal;
	font-weight: bold;	
	position: right;
	text-align: center;
	justify-content: center;
	margin: 20px 10px;
	padding: 10px 10px;
	width: 180px;
	border-radius: 5px;
	border: 2px solid #ff7e4a;
}

.element1:hover, .element2:hover, .element3:hover
{
	color: #0A3334;
	background-color: #FFFFFF;
	border: 2px solid #0A3334;
}

.element4:hover
{
	color: #FFFFFF;
	background-color: #ff7e4a;
}

/* Eléments principaux de la page */
body
{
	font-family: Roboto, Montserrat, Arial, sans-serif;
	background-color: #FFFFFF;
}

.main
{
	margin: 120px auto 30px auto;
	width: 1200px;
}

.acteurs
{
	margin: 30px auto;
	width: 1200px;
}

.commentaires
{
	margin: 20px auto;
	width: 1200px;
	border-radius: 10px;
    border: 2px solid #000000;
    background-color: #FFFFFF;
}

.comment_section
{
	margin: 30px auto;
	width: 1200px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

/* Listes */
ul, ol
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	list-style-type: square;
	color: #272A38;	
	font-size: 15px;
	font-family: Roboto, Montserrat, Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	margin: 10px 20px;
	padding: 10px 0px;
}

li
{
	width: 80%;
	padding: 5px;
}

/* Eléments de contenu */
h1
{
	color: #000000;
	font-size: 30px;
	font-family: Roboto, Montserrat, Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	text-align: left;	
}

h2
{
	color: #000000;
	font-size: 30px;
	font-family: Roboto, Montserrat, Arial, sans-serif;
	font-weight: normal;
	text-align: left;	
}

h3
{
	color: #000000;
	font-size: 20px;
	font-family: Roboto, Montserrat, Arial, sans-serif;
	font-weight: normal;	
}

p
{
	color: #272A38;
	font-size: 15px;
	font-family: Roboto, Montserrat, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	word-spacing: 2px;
	line-height: 20px;
	text-align: justify;
	margin: 10px auto;	
}

.listtitle
{
	text-decoration: underline;
	word-spacing: 1px;
}

figure
{
	text-align: center;
	margin: 30px auto 10px auto;
}

figcaption
{	
	font-size: 15px;
	font-family: Roboto, Montserrat, Arial, sans-serif;
	font-style: italic;
	font-weight: small;
	color: #272A38;
	text-align: center;
}

/* Acteurs */
.acteurs_list
{
    margin: 30px auto;
    border-radius: 10px;
    border: 2px solid #333333;
    background-color: #333333;
}

.acteur_snapshot
{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: left;
	align-items: center;
    width: 98%;
    height: 180px;
    margin: 10px auto;
    border-radius: 10px;
    border: 2px solid #333333;
    background-color: #FFFFFF;
}

.acteur_snapshot img
{
	margin: 0px 20px;
}

.acteur_snapshot p, h3
{
	margin: 0px 10px;
	width: 90%;
}

.acteur_snapshot button
{
	margin-right: 20px;
	width: 180px;
}

.acteur_text
{
    display: flex;
    float: right;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	margin: auto;
}

#logo_acteur
{
	margin-top: 10px;
	width: 300px; 
}

#logo_acteur_page
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	margin: 30px auto;
	width: 400px;
}

/* Commentaires */
.commentaires_menu
{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    width: 90%;
    height: 100px;
    margin: auto;    
}

.commentaires_list
{
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
    border: 2px solid #333333;
    background-color: #333333;
}

.commentaires_snapshot
{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
    width: 98%;
    height: 100px;
    margin: 10px auto;
    border-radius: 10px;
    border: 2px solid #000000;
    background-color: #FFFFFF;
}

.commentaires_snapshot p
{
	margin: 5px 10px; 
	padding: 0px;
}

.comment_notice
{
	width: 50%;
	margin-left: 100px;
	text-align: center;	
}

.comment_notice p
{
	text-align: center;	
}

/* Formulaires */
form
{
	border-radius: 5px;
	text-align: center;
}

label, form p, form legend
{
	color: #000000;
	font-size: 15px;
	font-weight: normal;
}

form legend
{
	font-weight: bold;
}

input
{
	color: #0A3334;
	font-weight: bold;
	padding: 2px 5px;
	height: 30px;
	text-align: left;
}

textarea
{
	border: 2px solid #000000;
	width: 400px;
	height: 200px;
	padding: 10px 10px;
	margin: auto;
}

fieldset
{
	width: 80%;
	margin: auto;
	border: 2px solid #FFFFFF;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}

input[type*="submit"]
{
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	width: 100px;
	height: 40px;
	background-color: #000000;
	text-align: center;
	border: 0px;
	border-radius: 5px;
	box-shadow: 3px 3px 6px #000000;
}

input[type*="submit"]:hover
{
	color: #FFFFFF;
	box-shadow: 3px 3px 6px #0A3334;
	background-color: #0A3334;
}

.CTA_comment
{
	color: #333333; 
}

.CTA_like
{	
	margin: 40px 20px;
	background-color: #FFFFFF;
}

.CTA_like:hover
{		
	background-color: #065FD4;
}

.CTA_dislike
{

	margin: 40px 20px;
	background-color: #FFFFFF;
}

.CTA_dislike:hover
{
	background-color: #EF4056;
}

.CTA_counter
{
	font-size: 14px;
	color: #333333;
	background-color: #FFFFFF;
	border: none;
}

.CTA_counter:hover
{
	color: #333333;
	background-color: #FFFFFF;
	border: none;
}

.CTA_counter:active
{
	color: #333333;
	background-color: #FFFFFF;
	border: none;
}

.login_interface{
	margin-bottom: 5%;
}

.signup_interface{
	margin-bottom: 5%;
}

.signup_form {
	display: flex;
	align-content: center;
	flex-direction: column;
	text-align: center;
	width: 40%;
	padding: 10px 0px;
}

.signup_form input {
	margin: 10px 0px;
}

.login-signup_options
{
	display: flex;
	align-content: center;
	flex-direction: column;
	text-align: center;
	padding-bottom: 5%;
}

/* Date de publication */
.published
{
	font-style: italic;
}

/* Footer */
footer
{
	display: flex;
	flex-direction: row;
	text-align: center;
	background-color: #333333;
	width: 100%;
	height: 100px;
	position: relative;
	left: 0px;
	bottom: 0px;
	margin: auto;
}

.footerNav
{
	margin: auto;
	padding: 25px 0px;
}

.footerCTA 
{		
	font-size: 15px;
	color: #333333;
	font-style: normal;
	font-weight: bold;	
	position: right;
	text-align: center;
	justify-content: center;
	margin: 25px 30px;
	padding: 10px 10px;
	background-color: #FFFFFF;
	width: 140px;
	height: 20px;
	border-radius: 5px;
}

.footerCTA:hover
{
	color: #FFFFFF;
	background-color: #000000;
}

/* Liens */
a
{
	color: #0A3334;
	text-decoration: none;
}

a:hover
{
	color: #1D85E9;
}

/* Buttons */

button
{
	font-size: 15px;
	color: #FFFFFF;
	font-style: normal;
	font-weight: bold;	
	position: right;
	text-align: center;
	justify-content: center;
	margin: 25px 30px;
	padding: 10px 10px;
	background-color: #333333;
	width: 140px;
	height: 50px;
	border-radius: 5px;
}

button a
{
	color: #FFFFFF;
	font-style: normal;
	font-weight: bold;		
}

button:hover
{
	color: #FFFFFF;
	background-color: #000000;
}

/* Alerts */
.alert
{
	font-size: 20px;
	color: #ff7e4a;
}

/* Responsive */
@media all and (max-width: 1024px)
{
	.bloc-page
	{
		width: auto;
	}

	.main
	{
		width: auto;
	}

	.acteurs
	{
		width: auto;
	}

	.acteurs_list
	{
		width: auto;
	}

	.acteur_snapshot
	{
		width: auto;
	}

	.acteur_snapshot
	{
	    display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
	    width: 98%;
	    height: 400px;
	    margin: 10px auto;
	    border-radius: 10px;
	    border: 2px solid #333333;
	    background-color: #FFFFFF;
	}

	.acteur_snapshot img
	{
		margin: 20px 20px;
		max-height: 100px;
		max-width: 300px;
	}

	.acteur_snapshot p, h3
	{
		margin: 10px 10px;
		width: 90%;
	}

	.acteur_snapshot button
	{
		margin: 20px;
		width: 180px;
	}	

	.commentaires
	{
		width: auto;
	}

	.commentaires_menu
	{
		width: auto;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	    width: 80%;
	    height: 100px;
	    margin: auto;  
	}

	.commentaires_menu h3
	{
		display: none;
	}

	.commentaires_menu button
	{
		font-size: 12px;
		margin: 10px;
		width: 100px;
	}

	.comment_section
	{
		margin: 30px auto;
		width: 1200px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.comment_notice
	{
		display: none;	
	}

	.login_form
	{
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		margin: auto;
	}

	.signup_form
	{
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		margin: auto;
	}

	header
	{
		display: flex;
		flex-direction: row;		
		background-color: #FFFFFF;
		margin: auto;
		width: 100%;
		height: 70px;
		top: 0px;	
		left: 0px;	
		border-bottom: 1px solid #000000;
		box-shadow: 0px 1px 6px #000000;
	}

	#logo
	{
		margin: 10px;
	}

	#menu
	{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		font-size: 12px;
		font-family: Roboto, Montserrat, Arial, sans-serif;
		font-style: bold;
		font-weight: bold;
		color: #000000;
		padding: 25px 0px;
	}

	nav
	{
		display: flex;
		flex-direction: column;
		align-content: space-between;
		color: #000000;
	}

	.element1, .element3
	{
		display: none;
	}

	.element4
	{
		color: #ff7e4a;
		font-style: normal;
		font-weight: bold;
		margin: 20px 10px;
		padding: 10px 10px;
		width: 180px;
		border-radius: 5px;
		border: 2px solid #ff7e4a; 
	}
}